.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Пространство между элементами */
  }
  
  .item {
    flex: 1 1 150px; /* Адаптивная ширина для элементов */
  }