.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 170px;
    border: 2px;
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}
